#TODO: IF projects works with currently installed requirements, then
#--> pip freeze > requirements.txt

numpy~=1.22.3
scipy~=1.8.0
torch~=1.10.2
tqdm~=4.63.0

jupyter~=1.0.0
pip~=21.2.3
attrs~=21.4.0
toml~=0.10.2
wheel~=0.36.2
Pillow~=9.0.1
tornado~=6.1
Jinja2~=3.1.2
requests~=2.27.1
dask~=2022.4.1
rich~=12.4.4
keras~=2.9.0
ipywidgets~=7.7.0
ipython~=8.4.0
notebook~=6.4.11
isort~=5.10.1
tomli~=2.0.1
identify~=2.5.1
setuptools~=62.3.2
flake8~=4.0.1
pyflakes~=2.4.0
pathspec~=0.9.0
unimport~=0.9.6
libcst~=0.4.3
PyYAML~=6.0
cfgv~=3.3.1
packaging~=21.3
pyparsing~=3.0.7
zipp~=3.8.0
virtualenv~=20.14.1
distlib~=0.3.4
six~=1.16.0
filelock~=3.6.0
platformdirs~=2.5.2
pycodestyle~=2.8.0
pytz~=2021.3
cffi~=1.15.0
mypy~=0.960
matplotlib~=3.5.1
torchvision~=0.11.3
astunparse~=1.6.3
tensorboard~=2.9.0
tensorflow~=2.9.1
psutil~=5.9.1
urllib3~=1.26.8
click~=8.0.4
